python-telegram-bot[job-queue]==20.7

pymongo==4.6.1
dnspython==2.6.1

aiohttp==3.9.3
requests==2.31.0

python-dotenv==1.0.1

# 🔥 Edge TTS (BEST FREE VOICE)
edge-tts==6.1.9

# 🖼 Optional
Pillow==10.2.0